<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QWERTY</title>
    <%= csrf_meta_tag() %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}>
    <link rel="icon" href="favicon.ico">
    <script defer phx-track-static src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= if @caseid || @public_page do %>
      <%= @inner_content %>
    <% else %>
      <p>I do not know who you are.</p>
      <a href={Routes.login_path(@conn, :login, from: Phoenix.Controller.current_path(@conn))}>login</a>
    <% end %>
  </body>
</html>
