<h1>All Players</h1>

<table>
  <tr>
    <th>ID</th>
    <th>CaseID</th>
    <th>Join Date</th>
  </tr>
  <%= for player <- @players do %>
    <tr>
      <td><%= player.id %></td>
      <td><%= player.caseid %></td>
      <td><%= player.inserted_at %></td>
    </tr>
  <% end %>
</table>
