<h1>All Players</h1>

<table>
  <tr>
    <th>ID</th>
    <th>CaseID</th>
    <th>Join Date</th>
  </tr>
  <%= for player <- @players do %>
    <tr>
      <td><%= player.id %></td>
      <td>
        <%= player.caseid %>
        <%= if CodeHunt.Contest.is_admin(player), do: "(ADMIN)" %>
        <%= if player.banned, do: "(BANNED)" %>
      </td>
      <td><%= format_datetime(player.inserted_at, :no_seconds) %></td>
    </tr>
  <% end %>
</table>
