:root {
  --theme-color: #78D769;
  --important-color: #D54242;
  --highlight-color: orange;
  --secondary-color: white;
  --bg-color: black;
  --light-bg-color: #1A1A1A;
}

html {
  background-color: var(--bg-color);
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

* {
  font-family: monospace;
  color: var(--theme-color);
  border-radius: 0;
  -webkit-border-radius: 0;
}

:not(select) {
  -webkit-appearance: none;
}

#bt {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--secondary-color);
  font-size: 200%;
}

.pre {
  white-space: pre;
}

.nomargin {
  margin: 0;
}

.highlight {
  color: var(--highlight-color);
}

.important {
  color: var(--important-color);
  font-weight: bold;
}

.secondary {
  color: var(--secondary-color);
}

li {
  margin: 5px 0;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid var(--theme-color);
  padding: 4px;
}

th {
  padding: 0 10px;
}

@keyframes reveal {
  0% {
    top: 0px;
  }

  99.9999% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

.curtain {
  background-color: var(--bg-color);
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  animation-name: reveal;
  animation-timing-function: ease-in;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

#fill-as-body {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.light-bg {
  background-color: var(--light-bg-color);
}

.center {
  text-align: center;
}

textarea, input, button {
  border: 2px solid var(--theme-color);
}

:where(textarea, input, button):focus {
  outline: 2px solid var(--theme-color);
}

input[type="submit"], button {
  cursor: pointer;
}

input[type="text"], textarea {
  color: var(--secondary-color);
}

textarea {
  margin-bottom: 4px;
}

@keyframes clickme {
	0% {
		color: var(--secondary-color);
	}

	100% {
		color: var(--highlight-color);
	}
}

.clickme {
	animation-name: clickme;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.type-out {
	visibility: hidden;
}

ul li {
	list-style: square;
}

ul {
	margin: 0;
}
