html {
  background-color: black;
  font-size: 18px;
}

* {
  font-family: monospace;
  color: #D76969;
}

#bt {
  position: absolute;
  bottom: 0px;
  right: 0px;
  color: white;
}

.pre {
  white-space: pre;
}

.nomargin {
  margin: 0px;
}

.me-col {
  color: yellow;
}

li {
  margin: 5px 0;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #D76969;
  padding: 4px;
}

th {
  padding: 0 10px;
}
