:root {
  --theme-color: #78D769;
  --highlight-color: orange;
}

html {
  background-color: black;
  font-size: 18px;
}

* {
  font-family: monospace;
  color: var(--theme-color);
}

#bt {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}

.pre {
  white-space: pre;
}

.nomargin {
  margin: 0;
}

.me-col {
  color: var(--highlight-color);
}

li {
  margin: 5px 0;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid var(--theme-color);
  padding: 4px;
}

th {
  padding: 0 10px;
}
