<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sheet_<%= @sheet.id %></title>
  <style>
body {
  margin: 8px;
}

@page {
  margin: 0;
  size: letter;
}
  </style>
</head>

<body>
  <table>
    <% 30 = length(@sheet.code_drops) %>

    <%= for row <- Enum.chunk_every(@sheet.code_drops, 5) do %>
      <tr>
        <%= for drop <- row do %>
          <% encoded = Base.url_encode64(drop.secret_id) %>
          <td>
            <%=
              Routes.code_drop_url(@conn, :claim, encoded)
              |> EQRCode.encode()
              |> EQRCode.png(width: 500)
              |> then(fn x -> ~s(<img width="175" height="175" src="data:image/png;base64,#{Base.encode64 x}">) end)
              |> raw()
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</body>
</html>
